version: '3.8'
services:
  postgres:
    image: postgres:latest
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12341234
      POSTGRES_DB: kmgav2
    ports:
      - "5430:5432"
    volumes:
      - pg_data:/var/lib/postgresql

    networks:
      - backend
    restart: always

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nest-app
    environment:
      DATABASE_URL: postgresql://postgres:12341234@postgres-db:5432/kmgav2
      FRONTEND_URL: http://5.129.223.49
      JWT_SECRET: awdnajskfnc238f7iuenc12jd3oddjqo
      JWT_EXP: 10m
      EMAIL_SERVER_HOST: smtp.gmail.com
      EMAIL_SERVER_PORT: 465
      EMAIL_SERVER_USER: finf0096@gmail.com
      EMAIL_SERVER_PASSWORD: usmhuuvjcdnwpkfj
      EMAIL_FROM: finf0096@gmail.com
      NODE_ENV: development
      GOOGLE_CLIENT_ID: 725470355035-jr1l0u1g1cpqlqnei35erflnep1hpglm.apps.googleusercontent.com
      GOOGLE_CLIENT_SECRET: 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
      YANDEX_APP_ID: ee339510a6004af8829679469b8344b8
      YANDEX_APP_SECRET: 3f2325a6c6bb4f2f9f5e0215f68e60fd
      ALLOWED_ORIGINS: http://5.129.223.49
      CACHE_TTL: 30s
    ports:
      - "3000:3000"
    depends_on:
      - postgres
    networks:
      - backend
    restart: always

networks:
  backend:

volumes:
  pg_data:
