<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
      text-align: left;
    }
    .content {
      max-width: 600px;
      padding: 10px;
      text-align: center;
      margin: 0 auto;
    }
    .content a {
      text-decoration: none;
    }
    .content p {
      color: #000;
    }
    .footer {
      font-size: 12px;
      color: #000000;
      line-height: 1.5;
    }
    .big {
      font-size: 14px;
    }
    .bold {
      font-weight: bold;
    }
    .green {
      color: #3DCD58;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      margin: 10px 0;
      background: #3DCD58;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }
    @media screen and (max-width: 600px) {
      .footer {
        font-size: 10px; /* Smaller font size on small screens */
      }
      .content {
        padding: 10px;
      }
    }
  </style>
</head>
<body>
<div class="content">
  <p class="bold big">Dear Customer,</p>
  <p>Taking this opportunity, KMG Automation LLP expresses respect and gratitude for cooperation with us.</p>
  <p>Customer satisfaction is the most important aspect of KMG Automation LLP. We will be sincerely grateful if you share your opinion on the services quality provided by our company by filling out the Survey form. All the feedback/estimates will be reviewed directly by our Company Management and, if necessary, further actions will be taken to improve the quality of the services provided, protecting your ideas privacy.</p>
  <p>I will be glad to answer your questions.</p>
  <p>Thank you in advance!</p>

  <div className="player-screen__mobile-ps">
    <span>P.S: The survey can be completed by mobile phone</span>
  </div>

  <p>Please take a moment to complete our survey:</p>
  <a href="{{url}}" class="button" target="_blank">Take the Survey</a>

  <!-- Footer -->
  <div class="footer">
    Best regards,<br>
    <span class="bold">Karlygash Daulybayeva</span> | <span class="bold">KMG<span class="green">Automation</span></span> | QHSE Coordinator<br>
    Office phone: <span class="bold">+7 7122 30 62 04</span> | Mobile: <span class="bold">+7 701 550 54 15</span><br>
    Email: <a href="mailto:karlygash.daulybayeva@kmga.kz" class="bold">karlygash.daulybayeva@kmga.kz</a> | Site: <a href="http://www.kmga.kz" target="_blank" class="bold">www.kmga.kz</a><br>
    Address: <span class="bold">Shokan Valikhanov Str., 6 B/S “Kussain”, 060002 Atyrau Kazakhstan</span>
  </div>
</div>
</body>
</html>