<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            text-align: left;
        }

        .content {
            max-width: 600px;
            padding: 10px;
            margin: 0 auto;
            color: black;
        }

        .content a {
            text-decoration: none;
        }

        .big {
            font-size: 14px;
        }

        .title {
            text-align: center;
        }

        .bold {
            font-weight: bold;
        }

        .green {
            color: #3DCD58;
        }

        .button {
            display: table;
            margin: 0 auto;
            padding: 10px 20px;
            background: #3DCD58;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }

        @media screen and (max-width: 600px) {
            .footer {
                font-size: 10px;
            }

            .content {
                padding: 10px;
            }
        }
    </style>
</head>
<body>
<div class="content">
    <p>{{{text}}}</p>

    <a href="{{url}}" class="button" target="_blank">{{btnText}}</a>

    {{#if footer}}
        <div class="footer">
            {{{footer}}}
        </div>
    {{/if}}
</div>
</body>
</html>
