<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      margin: 0;
      padding: 0;
      text-align: left;
    }
    .content {
      max-width: 600px;
      padding: 10px;
      text-align: center;
      margin: 0 auto;
    }
    .content a {
      text-decoration: none;
    }
    .content p {
      color: #000;
    }
    .footer {
      font-size: 12px;
      color: #000000;
      line-height: 1.5;
    }
    .big {
      font-size: 14px;
    }
    .bold {
      font-weight: bold;
    }
    .green {
      color: #3DCD58;
    }
    .button {
      display: inline-block;
      padding: 10px 20px;
      margin: 10px 0;
      background: #3DCD58;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }
    @media screen and (max-width: 600px) {
      .footer {
        font-size: 10px; /* Уменьшенный размер шрифта на маленьких экранах */
      }
      .content {
        padding: 10px;
      }
    }
  </style>
</head>
<body>
<div class="content">
  <p class="bold big">Уважаемый клиент,</p>
  <p>От лица KMG Automation LLP выражаем уважение и благодарность за сотрудничество с нами.</p>
  <p>Для KMG Automation LLP удовлетворение клиента является ключевым аспектом. Мы искренне будем признательны, если вы поделитесь своим мнением о качестве услуг, предоставленных нашей компанией, заполнив опросную форму. Все отзывы и оценки будут непосредственно рассмотрены руководством компании, и, при необходимости, будут предприняты дополнительные меры для улучшения качества предоставляемых услуг с учетом конфиденциальности ваших идей.</p>
  <p>С удовольствием готов ответить на ваши вопросы.</p>
  <p>Заранее благодарим вас!</p>

  <div className="player-screen__mobile-ps">
    <span>П.С.: Опрос можно пройти на мобильном телефоне</span>
  </div>

  <p>Пожалуйста, уделите момент, чтобы заполнить наш опрос:</p>
  <a href="{{url}}" class="button" target="_blank">Пройти опрос</a>

  <!-- Footer -->
  <div class="footer">
    С наилучшими пожеланиями,<br>
    <span class="bold">Карлыгаш Даулыбаева</span> | <span class="bold">KMG<span class="green">Automation</span></span> | Координатор QHSE<br>
    Офисный телефон: <span class="bold">+7 7122 30 62 04</span> | Мобильный: <span class="bold">+7 701 550 54 15</span><br>
    Эл. почта: <a href="mailto:karlygash.daulybayeva@kmga.kz" class="bold">karlygash.daulybayeva@kmga.kz</a> | Сайт: <a href="http://www.kmga.kz" target="_blank" class="bold">www.kmga.kz</a><br>
    Адрес: <span class="bold">ул. Шокана Валиханова, 6 Б/С "Кусайн", 060002, Атырау, Казахстан</span>
  </div>
</div>
</body>
</html>
